<section class="hero">
  <div class="hero-body">
    <div class="container">
      <figure class="image center">
        <img src="<%= Routes.static_path(@socket, "/images/bulma-logo.png") %>" 
                        alt="Bulma-white-logo"
                        style="max-width: 128px;"/>
      </figure>
    </div>
  </div>
</section>
